<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection Result</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>旅行プラン！</h1>
        {% if travel_plan %}
            <p>{{ travel_plan|linebreaks }}</p>
        {% endif %}
        <a href="../">ホーム</a>
    </div>
</body>
</html>
